.container{
    margin: 1rem , auto;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    background-color:#053df7;
    animation-name: poo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
}


@keyframes poo {
    0%   {background-color: #364fa1;}
    25%  {background-color: #22cfcf;}
    50%  {background-color: #2f5252;}
    100% {background-color: rgb(3, 255, 79);}
}
body,html,*{
    font-size: 50px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans JP', sans-serif;
   

}

.card-Title{
    margin-top: 30px;
}
.card-Price{
    font-size: 1.2rem;
}
.card-Image{
    width: 100%;
    
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.Card-Image2 {
    width: 1000;
    height: auto;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.Card-Image3{
    height: 70%;
    width: 100%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.card{
    width: 24%;
    height: 46vh;
    background-color: rgba(18, 134, 211, 0.986);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2.5rem 0;
    box-shadow: 10px 8px 0px rgb(188, 200, 214);
    flex-basis: 23%;
    transition: all 0.3s;
 
    

}


.card:hover{
  background-color: #05f755;
  transform: scale(1.12);
  transform: rotate(1.0turn);
  transform: rotate3d(1,1, 1, 360deg);
  box-shadow:
    0 0 60px 10px  #9dfd02,
    0 0 100px 20px rgb(98, 199, 16),
    0 0 140px 30px rgb(90, 160, 10);


 /*0 x-offeset , 0 y-offset , then the blur size of the shadow box and then thespread size of the */
}









