.container{
    margin: 1rem , auto;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    
}

.container {
    background-size: 800% 800%;
    background-image: linear-gradient(-45deg, yellow 0%, yellow 25%, yellow 51%, #ff357f 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
            animation: AnimateBG 20s ease infinite;
  }
  
  @-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
body,html,*{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans JP', sans-serif;

}

.card-Title{
    margin-top: 30px;
}
.card-Price{
    font-size: 1.2rem;
}
.card-Image{
    width: 100%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.Card-Image2{
    width: auto;
    height: auto;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.Card-Image3{
    height: 70%;
    width: 100%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.card{
    width: 24%;
    height: 46vh;
    background-color: rgba(43, 92, 184, 0.986);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2.5rem 0;
    box-shadow: 10px 8px 0px rgb(188, 200, 214);
    flex-basis: 26%;

}









